<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="wishList">
            <h2><span jhiTranslate="gatewayApp.microservicio1WishList.detail.title">Wish List</span> {{wishList.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gatewayApp.microservicio1WishList.title">Title</span></dt>
                <dd>
                    <span>{{wishList.title}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.microservicio1WishList.restricted">Restricted</span></dt>
                <dd>
                    <span>{{wishList.restricted}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.microservicio1WishList.customer">Customer</span></dt>
                <dd>
                    <div *ngIf="wishList.customer">
                        <a [routerLink]="['/customer', wishList.customer?.id, 'view']">{{wishList.customer?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/wish-list', wishList.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
